{% extends 'shared/base.html' %}
{% block content %}

<div class="form-card">
    <h2>Welcome back</h2>
    <form method="post" action="{% url 'log in user' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary" style="width: 100%; justify-content: center; margin-top: 0.25rem;">
            Log in <i class="fa-solid fa-arrow-right"></i>
        </button>
    </form>
    <p>Don't have an account? <a href="{% url 'register user' %}">Sign up</a></p>
</div>

{% endblock %}
